@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf) format(opentype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
  flex: 2;
  height: 100vh;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  position: relative;
}

.logo-bar {
  position: absolute;
  top: 30%;
  background: rgb(0, 0, 0, 0.5);
  height: 150px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-bar > img {
  height: 100%;
}

.logo-bar span {
  font-family: norse-bold, "Times New Roman", Times, serif;
  font-size: 8rem;
  color: #fff;
  padding-left: 12px;
}

.photo-by {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 100%;
  text-align: right;
  color: #fff;
}

.photo-by a,
.photo-by a:visited {
  color: #fff;
}

.form-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.before-form p {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0 300px 2.5rem 3rem;
}
